@use "../abstracts";

html.dark {
    // base color variable
    --text-color: #fff;
    --text-hover-color: #0071dc;
    --icon-color: brightness(0) saturate(100%) invert(97%) sepia(67%) saturate(2%) hue-rotate(247deg) brightness(107%)
        contrast(100%);

    // header color variable
    --header-bg-color: #171c28;

    @include abstracts.breakpoint(lg) {
        --header-shadow: rgba(0, 0, 0, 0.2);
    }

    // top act group color variable
    --top-act-group-bg-color: #292e39;
    --top-act-group-separate-color: #ededf6;
    --top-act-group-shadow: rgba(0, 0, 0, 0.2);
    --top-act-user-avt-shadow: rgba(0, 0, 0, 0.08);

    // dropdown color variable
    --dropdown-bg-color: #292e39;
    --dropdown-arrow-color: brightness(0) saturate(100%) invert(15%) sepia(29%) saturate(387%) hue-rotate(182deg)
        brightness(97%) contrast(93%);
    --dropdown-shadow: rgba(23, 28, 40, 0.4);

    --top-menu-border-color: #171c28;
    --menu-column-icon-color: brightness(0) saturate(100%) invert(100%) sepia(21%) saturate(786%) hue-rotate(219deg)
        brightness(102%) contrast(96%);

    // sidebar
    --sidebar-bg-color: #292E39;
    --sidebar-shadow: rgba(23, 28, 40, 0.40);

    // body color varriable
    --body-bg-color: #292e39;
}
