@use "../abstracts";

html.dark {
    // base color variable
    --text-color: #fff;
    --text-hover-color: #0071dc;
    --icon-color: brightness(0) saturate(100%) invert(97%) sepia(67%) saturate(2%) hue-rotate(247deg) brightness(107%)
        contrast(100%);

    // header color variable
    --header-bg-color: #171c28;

    // top act group color variable
    --top-act-group-bg-color: #292e39;
    --top-act-group-separate-color: #ededf6;
    --top-act-group-shadow: rgba(0, 0, 0, 0.2);
    --top-act-user-avt-shadow: rgba(0, 0, 0, 0.08);

    // dropdown color variable
    --dropdown-bg-color: #2f3441;
    --dropdown-arrow-color: brightness(0) saturate(100%) invert(17%) sepia(27%) saturate(487%) hue-rotate(185deg)
        brightness(89%) contrast(88%);
    --dropdown-shadow: rgba(23, 28, 40, 0.4);

    --top-menu-border-color: #171c28;
    --menu-column-icon-color: brightness(0) saturate(100%) invert(100%) sepia(21%) saturate(786%) hue-rotate(219deg)
        brightness(102%) contrast(96%);

    // sidebar color variable
    --sidebar-bg-color: #292e39;
    --sidebar-shadow: rgba(23, 28, 40, 0.4);

    // body color varriable
    --body-bg-color: #292e39;

    // category item color variable
    --cate-item-bg-color: #171c28;
    --cate-item-thumb-bg-color: #292e39;
    --cate-item-title-color: #fff;

    //product card color variable
    --product-card-bg-color: #171c28;
    --product-card-shadow: rgba(0, 0, 0, 0.2);

    // filter form color variable
    --filter-form-tag-bg-color: #171c28;
    --filter-form-bg-color: #2f3441;
    --filter-form-arrow-color: brightness(0) saturate(100%) invert(17%) sepia(27%) saturate(487%) hue-rotate(185deg)
        brightness(89%) contrast(88%);
    --filter-form-shadow: rgba(0, 0, 0, 0.4);

    // button color variable
    --filter-btn-text-color: #fff;
    --filter-btn-bg-color: #171c28;

    --like-btn-bg-color: #292e39;
    --like-btn-shadow: rgba(124, 124, 124, 0.2);

    @include abstracts.screen(lg) {
        --header-shadow: rgba(0, 0, 0, 0.2);
    }
}
