@use "../abstracts";

html {
    // base color variable
    --text-color: #1a162e;
    --text-hover-color: #0071dc;
    --icon-color: brightness(0) saturate(100%) invert(9%) sepia(20%) saturate(1720%) hue-rotate(210deg) brightness(93%)
        contrast(97%);

    // header color variable
    --header-bg-color: #eee;

    // top act group color variable
    --top-act-group-bg-color: #fff;
    --top-act-group-separate-color: #ededf6;
    --top-act-group-shadow: rgba(237, 237, 246, 0.2);
    --top-act-user-avt-shadow: rgba(0, 0, 0, 0.08);

    // dropdown color variable
    --dropdown-bg-color: #fff;
    --dropdown-arrow-color: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(290deg)
        brightness(103%) contrast(101%);
    --dropdown-shadow: rgba(200, 200, 200, 0.4);

    --top-menu-border-color: #d2d1d6;

    // sidebar color variable
    --sidebar-bg-color: #fff;
    --sidebar-shadow: rgba(200, 200, 200, 0.4);

    // body color varriable
    --body-bg-color: #f6f6f6;

    // category item color variable
    --cate-item-bg-color: #eee;
    --cate-item-thumb-bg-color: #fff;
    --cate-item-title-color: #000;

    //product card color variable
    --product-card-bg-color: #fff;
    --product-card-shadow: rgba(237, 237, 246, 0.2);


    // button color variable
    --filter-btn-text-color: #6c6c72;
    --filter-btn-bg-color: #fff;
    --like-btn-bg-color: #fff;
    --like-btn-shadow: rgba(124, 124, 124, 0.2);
    

    @include abstracts.screen(lg) {
        --header-bg-color: #fff;
        --header-shadow: rgba(237, 237, 246, 0.2);
    }

    @include abstracts.screen(md) {
        --cate-item-bg-color: #fff;
    }
}
