@use "../abstracts";

html {
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(9%) sepia(20%)
        saturate(1720%) hue-rotate(210deg) brightness(93%) contrast(97%);

    // header color variable
    --header-bg-color: #eee;
    --top-act-group-bg-color: #fff;
    --top-act-group-separate-color: #ededf6;
    --top-act-group-shadow: rgba(237, 237, 246, 0.2);
    --top-act-user-avt-shadow: rgba(0, 0, 0, 0.08);

    @include abstracts.breakpoint(lg) {
        --header-bg-color: #fff;
    }

    // body color varriable
    --body-bg-color: #f6f6f6;
}
