@use "../abstracts";

.footer {
    margin-top: 50px;
    padding: 50px 0;
    background: var(--footer-bg-color);

    &__row {
        display: grid;
        grid-template-columns: 2fr repeat(3, 1fr) 1.5fr;
        gap: 50px;

        @include abstracts.screen(lg) {
            grid-template-columns: 1fr;
        }
    }

    &__logo-box .logo {
        @include abstracts.screen(lg) {
            margin-left: 0;
        }
    }

    &__desc {
        padding: 30px 0;

        font-size: 1.4rem;
        line-height: 1.4;
    }

    &__help-text {
        margin-top: 40px;
        font-size: 1.4rem;
    }

    &__heading {
        text-transform: uppercase;

        font-weight: 900;
        font-size: 1.8rem;
    }

    &__list {
        margin-top: 20px;
        font-size: 1.4rem;
    }

    &__link,
    &__text {
        padding: 8px 0;
        font-size: 1.4rem;
        line-height: 1.5;
    }

    &__link {
        display: inline-block;

        font-weight: 500;

        &:hover {
            color: var(--text-hover-color);
        }
    }

    &__text,
    &__copy-right {
        color: var(--footer-text-color);
    }

    &__label {
        margin-top: 20px;
        font-weight: 600;
    }

    &__form {
        display: flex;
        gap: 10px;
        padding: 16px 0;

        @include abstracts.screen(xl) {
            flex-direction: column;
        }

        @include abstracts.screen(lg) {
            flex-direction: row;
        }

        @include abstracts.screen(sm) {
            flex-direction: column;
        }
    }

    &__input {
        width: 100%;
        padding: 10px 16px;

        border-radius: 6px;
        border: 1px solid var(--border-color);

        font-size: 1.4rem;
        font-weight: 500;

        &::placeholder {
            font-weight: 500;
        }

        @include abstracts.screen(md) {
            font-size: 1.6rem;
        }
    }

    &__bottom {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include abstracts.screen(lg) {
            flex-direction: column-reverse;
            gap: 30px;
        }
    }

    &__copy-right {
        font-size: 1.4rem;
    }

    &__socials {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__social-link {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 32px;
        height: 32px;
        border-radius: 6px;

        filter: grayscale(50%);
        transition: translate, filter;
        transition-duration: 0.3s;

        @include abstracts.screen(lg) {
            width: 40px;
            height: 40px;
        }

        &--facebook {
            background: #4863e9;
        }

        &--youtube {
            background: #f00;
        }

        &--tiktok {
            background: #000;
        }

        &--twitter {
            background: #4999e6;
        }

        &--linkedin {
            background: #2f71ab;
        }

        &:hover {
            filter: grayscale(0%);
            translate: 0 -2px;
        }
    }

    &__social-icon {
        width: 16px;
        filter: brightness(0) saturate(100%) invert(97%) sepia(67%) saturate(2%) hue-rotate(247deg) brightness(107%)
            contrast(100%);

        @include abstracts.screen(lg) {
            width: 24px;
        }
    }
}
