@use "../abstracts";

%flexItemsCenter {
    display: flex;
    align-items: center;
}

.header {
    background: var(--header-bg-color);
}

.top-bar {
    @extend %flexItemsCenter;
    padding: 30px 0;

    @include abstracts.breakpoint(lg) {
        padding: 20px 0;
    }

    @include abstracts.breakpoint(sm) {
        justify-content: space-between;
        padding: 16px 0;
    }

    &__more {
        display: none;

        @include abstracts.breakpoint(lg) {
            display: block;
        }
    }
}

.navbar {
    margin-left: 144px;

    @include abstracts.breakpoint(xl) {
        margin-left: 50px;
    }

    @include abstracts.breakpoint(lg) {
        display: none;
    }

    &__list {
        @extend %flexItemsCenter;
        column-gap: 30px;
    }

    &__link {
        @extend %flexItemsCenter;
        gap: 6px;

        font-size: 1.5rem;
        font-weight: 600;
        line-height: 2.2rem; /* 146.667% */
    }
}

.top-act {
    @extend %flexItemsCenter;
    margin-left: auto;
    gap: 20px;

    @include abstracts.breakpoint(sm) {
        margin-left: 0;
    }

    &__group {
        @extend %flexItemsCenter;

        border-radius: 8px;
        min-width: 50px;
        height: 50px;
        background: var(--top-act-group-bg-color);
        box-shadow: 0 20px 60px 10px var(--top-act-group-shadow);

        @include abstracts.breakpoint(md) {
            display: none;
        }
    }

    &__group--single {
        @include abstracts.breakpoint(lg) {
            display: none;
        }
    }

    &__group--single &__btn {
        padding: 13px;
    }

    &__btn {
        @extend %flexItemsCenter;
        padding: 13px 20px;
        cursor: pointer;
    }

    &__title {
        margin-left: 10px;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 2.2rem; /* 146.667% */
    }

    &__separate {
        width: 1px;
        height: 30px;
        background: var(--top-act-group-separate-color);
    }

    &__user {
        width: 50px;
        height: 50px;
        border-radius: 8px;
        box-shadow: 0 4px 14px 2px var(--top-act-user-avt-shadow);
        overflow: hidden;
    }

    &__avt {
        display: block;
        width: 100%;
        object-fit: cover;
        cursor: pointer;
    }
}
