@use "../abstracts";

%flexItemsCenter {
    display: flex;
    align-items: center;
}

.header {
    background: var(--header-bg-color);

    @include abstracts.breakpoint(lg) {
        box-shadow: 0 20px 60px 10px var(--header-shadow);
    }
}

.top-bar {
    @extend %flexItemsCenter;
    position: relative;
    padding: 30px 0;

    @include abstracts.breakpoint(lg) {
        padding: 20px 0;
    }

    @include abstracts.breakpoint(md) {
        justify-content: space-between;
        padding: 16px 0;
    }
}

.navbar {
    margin-left: 129px;

    @include abstracts.breakpoint(xl) {
        margin-left: 28px;
    }

    @include abstracts.breakpoint(lg) {
        position: fixed;
        inset: 0 50% 0 0;
        z-index: 9;

        margin-left: 0;
        border-radius: 0 20px 20px 0;
        padding: 20px 0;
        background: var(--sidebar-bg-color);

        translate: -100%;
        transition: translate 0.5s;

        &.show {
            translate: 0;
            box-shadow: 0 40px 90px 20px var(--sidebar-shadow);
        }

        &.show ~ &__overlay {
            visibility: visible;
            opacity: 1;
        }
    }

    @include abstracts.breakpoint(sm) {
        inset: 0 20% 0 0;
    }

    &__close-btn {
        display: none;

        @include abstracts.breakpoint(lg) {
            display: block;
            padding: 10px 40px;
        }

        @include abstracts.breakpoint(sm) {
            padding: 0px 20px 10px;
        }
    }

    &__overlay {
        visibility: hidden;
        opacity: 0;

        @include abstracts.breakpoint(lg) {
            position: fixed;
            inset: 0;
            z-index: 8;

            background: rgba($color: #000000, $alpha: 0.4);

            transition: opacity, visibility;
            transition-duration: 0.5s;
        }
    }

    &__list {
        @extend %flexItemsCenter;

        @include abstracts.breakpoint(lg) {
            flex-direction: column;
            align-items: flex-start;

            height: calc(100% - 40px);
            overscroll-behavior: contain;
            overflow-y: auto;
        }

        @include abstracts.breakpoint(md) {
            height: calc(100% - 140px);
        }

        @include abstracts.breakpoint(sm) {
            height: calc(100% - 124px);
        }
    }

    &__item {
        &:hover .dropdown {
            display: block;
        }

        @include abstracts.breakpoint(lg) {
            width: 100%;

            &:hover .dropdown {
                display: none;
            }

            &--active .dropdown {
                display: block !important;
            }
        }
    }

    &__link {
        @extend %flexItemsCenter;
        gap: 6px;
        height: 50px;
        padding: 0 15px;

        font-size: 1.5rem;
        font-weight: 600;
        line-height: 2.2rem; /* 146.667% */

        @include abstracts.breakpoint(lg) {
            justify-content: space-between;
            padding: 0 40px;

            font-size: 1.6rem;
        }

        @include abstracts.breakpoint(sm) {
            height: 44px;
            padding: 0px 20px;
        }
    }

    &__arrow-icon {
        margin-top: 3px;

        @include abstracts.breakpoint(lg) {
            rotate: -90deg;
            transition: rotate, 0.3s;
        }
    }

    &__item--active &__arrow-icon {
        rotate: 0deg;
    }
}

.top-act {
    @extend %flexItemsCenter;
    margin-left: auto;
    gap: 20px;

    @include abstracts.breakpoint(md) {
        margin-left: 0;
    }

    &__group {
        @extend %flexItemsCenter;

        border-radius: 8px;
        min-width: 50px;
        height: 50px;
        background: var(--top-act-group-bg-color);
        box-shadow: 0 20px 60px 10px var(--top-act-group-shadow);
    }

    &__group--single {
        @include abstracts.breakpoint(lg) {
            display: none;
        }
    }

    &__group--single &__btn {
        padding: 13px;
    }

    &__btn {
        @extend %flexItemsCenter;
        padding: 13px 20px;
        cursor: pointer;
    }

    &__title {
        margin-left: 10px;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 2.2rem; /* 146.667% */
    }

    &__separate {
        width: 1px;
        height: 30px;
        background: var(--top-act-group-separate-color);
    }

    &__user {
        width: 50px;
        height: 50px;
        border-radius: 8px;
        box-shadow: 0 4px 14px 2px var(--top-act-user-avt-shadow);
        overflow: hidden;
    }

    &__avt {
        display: block;
        width: 100%;
        object-fit: cover;
        cursor: pointer;
    }
}

.navbar-btn {
    align-items: center;
    height: 50px;
    padding: 0 40px;

    @include abstracts.breakpoint(sm) {
        height: 44px;
        padding: 0px 20px;
    }

    &__title,
    &__qnt {
        color: var(--text-color);
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 2.2rem; /* 146.667% */
    }

    &__title {
        padding-left: 16px;
    }

    &__qnt {
        margin-left: auto;
    }
}
