// filter button
.filter-btn {
    display: flex;
    align-items: center;
    gap: 14px;

    border-radius: 6px;
    padding: 6px 12px;
    background: var(--filter-btn-bg-color);
    color: var(--filter-btn-text-color);

    font-size: 1.6rem;
    font-weight: 500;
    line-height: 150%;
}

// like button
.like-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--like-btn-bg-color);
    box-shadow: 0 20px 60px var(--like-btn-shadow);

    &:not(&--liked) &__icon--liked {
        display: none;
    }

    &--liked .like-btn__icon {
        display: none;
    }

    &__icon--liked {
        margin-top: 6px;
    }
}
