// filter button
.filter-btn {
    display: flex;
    align-items: center;
    gap: 14px;

    border-radius: 6px;
    padding: 6px 12px;
    background: var(--filter-btn-bg-color);
    color: var(--filter-btn-text-color);

    font-size: 1.6rem;
    font-weight: 500;
    line-height: 150%;
}

// like button
.like-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--like-btn-bg-color);
    box-shadow: 0 20px 60px var(--like-btn-shadow);

    &:not(&--liked) &__icon--liked {
        display: none;
    }

    &--liked .like-btn__icon {
        display: none;
    }

    &__icon--liked {
        margin-top: 6px;
    }
}

// buttons
.btn {
    padding: 0 20px;
    height: 46px;
    border-radius: 6px;
    background: #f8f8f8;

    font-size: 1.8rem;
    font-weight: 500;
    -webkit-user-select: none;
    user-select: none;

    + .btn {
        margin-left: 20px;
    }

    &--text {
        color: #9e9da8;
        background: transparent;

        font-weight: 400;
    }

    &--primary {
        color: #1a162e;
        background: var(--primary-color);
    }

    &--outline {
        border: 1px solid var(--border-color);
        background: transparent;
    }

    &--rounded {
        border-radius: 999px;
    }

    &[disabled],
    &--disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    &:hover {
        opacity: 0.9;
    }
}
