@use "../abstracts";

.cate-item {
    display: flex;
    gap: 20px;
    height: 100%;

    border-radius: 16px;
    padding: 20px 26px;
    background: var(--cate-item-bg-color);

    @include abstracts.screen(xl) {
        flex-direction: column;
    }

    @include abstracts.screen(md) {
        flex-direction: row;
        background: var(--cate-item-bg-color);
    }

    &__thumb {
        display: block;
        width: 116px;
        height: 116px;
        border-radius: 8px;
        background: var(--cate-item-thumb-bg-color);
        object-fit: contain;

        @include abstracts.screen(xl) {
            width: 100%;
            height: 150px;
            margin: 0 auto;
        }

        @include abstracts.screen(md) {
            flex-direction: row;

            width: 88px;
            height: 88px;
            margin: 0;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__title {
        color: var(--cate-item-title-color);

        font-size: 2.2rem;
        font-weight: 700;
        line-height: 3.2rem; /* 145.455% */

        @include abstracts.screen(md) {
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 144.444%;
        }
    }

    &__desc {
        max-width: 231px;
        margin-top: 6px;
        color: var(--text-color);

        font-size: 1.6rem;
        font-weight: 400;
        line-height: 150%;

        @include abstracts.screen(md) {
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 142.857%;
        }
    }
}
