@use "../abstracts";

.filter-wrap {
    position: relative;
    z-index: 1;
}

.filter {
    position: absolute;
    right: 0;
    top: 55px;

    border-radius: 20px;
    padding: 30px 0;
    background-color: var(--filter-form-bg-color);
    box-shadow: 0 40px 90px var(--filter-form-shadow);
    transition: opacity, visibility;
    transition-duration: 0.25s;

    @include abstracts.screen(sm) {
        width: 100vw;
        height: 100vh;
        position: fixed;
        inset: 0;
        border-radius: 0;
    }

    &.hide {
        opacity: 0;
        visibility: hidden;
    }

    &__arrow {
        position: absolute;
        top: -16px;
        right: 24px;

        height: 20.5px;
        filter: var(--filter-form-arrow-color);
    }

    &__heading,
    &__form {
        color: var(--text-color);
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 145.455%;
    }

    &__form {
        margin-top: 30px;

        &-label--small {
            display: block;
            margin-bottom: 10px;

            font-size: 1.4rem;
            font-weight: 500;
            line-height: 142.857%;
        }

        &-group {
            margin-top: 20px;

            &--inline {
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 30px;
            }

            &--left,
            &--right {
                min-width: 121px;
            }
        }

        &-slider {
            position: relative;
            width: 100%;
            height: 2px;
            background: var(--border-color);

            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                translate: 0 -50%;

                height: 22px;
                width: 22px;
                border: 6px solid var(--primary-color);
                border-radius: 50%;
                background: var(--filter-form-bg-color);
            }

            &::before {
                left: var(--min-value);
            }

            &::after {
                left: var(--max-value);
            }
        }

        &-text-input,
        &-select-wrap {
            border: 1px solid var(--border-color);
            border-radius: 6px;

            font-size: 1.4rem;
            font-weight: 500;
            line-height: 142.857%;
        }

        &-text-input {
            display: flex;
            align-items: center;

            padding: 0 16px;
            width: 334px;
            height: 44px;

            overflow: hidden;

            @include abstracts.screen(sm) {
                width: 100%;
            }

            &--small {
                width: 100%;
                height: 36px;
                padding: 0 12px;

                @include abstracts.screen(sm) {
                    width: 100%;
                }
            }
        }

        &-text-input--small &-input {
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 142.857%;
        }

        &-input {
            width: 100%;

            font-size: 1.5rem;
            font-weight: 500;
            line-height: 146.667%;

            &::placeholder {
                color: #9e9da8;
                font-weight: 400;
            }

            &-icon {
                margin-left: 12px;
                filter: var(--icon-color);
            }

            @include abstracts.screen(sm) {
                font-size: 1.6rem;
            }
        }

        &-select-wrap {
            height: 45px;
            display: flex;
            align-items: center;
        }

        &-select {
            display: flex;
            align-items: center;
            justify-content: space-between;

            min-width: var(--width, 108px);
            height: calc(100% - 10px);
            padding: 0 14px;

            font-size: 1.4rem;
            font-weight: 500;
            line-height: 142.857%;

            cursor: pointer;

            @include abstracts.screen(xl) {
                flex: 1;
            }
        }

        &-select + &-select {
            border-left: 1px solid var(--border-color);
        }

        &-select-arrow {
            width: 16px;
            filter: var(--icon-color);
        }

        &-tags {
            display: flex;
            flex-wrap: wrap;
            gap: 10px 20px;

            @include abstracts.screen(sm) {
                gap: 10px;
            }
        }

        &-tag {
            padding: 6px 12px;
            border-radius: 6px;
            background: var(--filter-form-tag-bg-color);
            color: var(--filter-form-tag-text-color);

            font-size: 1.4rem;
            font-weight: 500;
            line-height: 142.857%;

            transition: color 0.2s;

            &:hover {
                color: var(--text-color);
            }
        }
    }

    &__row {
        display: flex;
    }

    &__separate {
        margin: 0 30px;
        width: 1px;
        background: #eee;

        @include abstracts.screen(xl) {
            margin: 30px 0;
            width: 100%;
            height: 1px;
        }
    }

    &__footer {
        display: flex;
        justify-content: flex-end;
        margin-top: 32px;

        @include abstracts.screen(sm) {
            background: var(--filter-form-bg-color);
            position: sticky;
            bottom: 30px;
        }
    }

    &__cancel,
    &__submit {
        height: 38px;
        padding: 0 10px;

        @include abstracts.screen(sm) {
            flex: 1;
            height: 40px;
        }
    }

    &__cancel {
        font-size: 1.5rem;
    }

    &__submit {
        font-size: 1.4rem;
    }

    &__heading,
    &__footer,
    &__content {
        padding: 0 30px;
    }

    &__content {
        height: calc(100vh - 350px);

        overflow-y: auto;
        overscroll-behavior: contain;

        @include abstracts.screen(xl) {
            flex-direction: column;
        }

        @include abstracts.screen(sm) {
            height: calc(100vh - 230px);
            padding-bottom: 60px;
        }
    }
}
