@use "../abstracts";

.product-card {
    padding: 16px;
    border-radius: 20px;
    background: var(--product-card-bg-color);
    box-shadow: 0 20px 60px 10px var(--product-card-shadow);

    @include abstracts.screen(xl) {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &__img-wrap {
        position: relative;
        padding-top: 100%;
    }

    &__thumb {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &__like-btn {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    &__title,
    &__price,
    &__score {
        color: var(--text-color);
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 150%;
    }

    &__title {
        margin-top: 16px;
    }

    &__brand {
        margin: 16px 0;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 146.667%;
    }

    &__row {
        display: flex;
        align-items: center;
        margin-top: auto;
    }

    &__star {
        margin: 0 6px 0 auto;
    }
}
