@use "../abstracts";

.slideshow {
    position: relative;
    

    &__inner {
        display: flex;
        overflow: hidden;
    }

    &__item {
        position: relative;
        flex-shrink: 0;
        width: 100%;
        padding-top: 34%;

        @include abstracts.screen(md) {
            padding-top: 50%;
        }
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
        border-radius: 20px;
        object-fit: cover;
    }

    &__page-slider {
        position: absolute;
        bottom: 20%;
        left: 5.2%;

        display: flex;
        align-items: center;
        column-gap: 20px;
        width: 13%;
    }

    &__num {
        color: #fff;
        font-feature-settings: "liga" off, "clig" off;

        font-size: 1.8rem;
        font-weight: 600;
        line-height: 144.444%;

        @include abstracts.screen(md) {
            color: #fff;

            font-size: 1.4rem;
            line-height: 142.857%;
        }
    }

    &__slider {
        position: relative;
        width: 100%;
        height: 4px;
        background: #fff;
        flex-shrink: 0;

        @include abstracts.screen(md) {
            height: 3px;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            translate: 0 -50%;
            width: 14px;
            height: 14px;
            border: 4px solid #fff;
            border-radius: 50%;

            @include abstracts.screen(md) {
                border-width: 3px;
            }
        }

        &::before {
            left: 0;
            translate: -90% -50%;
        }

        &::after {
            right: 0;
            translate: 90% -50%;
        }
    }
}
